body {
    background-color: #2b70e4;
    display: flex;
    justify-content: center;
}

.privacy-body {
    background-color: #ffffff;
    margin: 5%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.logo-img {
    width: 60%;
}

.app-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.google-app-link {
    margin-top: 15%;
}

.subhead {
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.subtext {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10%;
    font-style: italic;
}

img {
    width: 50%;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 50%;
}

.private-head {
    color: black;
    text-align: center;
}

.privacy {
    justify-content: left;
    align-items: left;
}